In [68]:
import pandas as pd # library for data analsysis

print('done')

done

In [69]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [78]:
data = pd.read_html(url, header = 0)

In [79]:
len(data)

3

In [80]:
data2 = data[0]

In [81]:
data2.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [82]:
# remove all "Not assigned from the "Borough" column
NA = data2[ data2['Borough'] == "Not assigned" ].index
 
# Delete these row from dataFrame
data2.drop(NA , inplace=True)
data2.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [83]:
# reset index, because we droped some rows
data2.reset_index(drop=True, inplace=True)
data2.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [84]:
data2.shape

(103, 3)